
.container-relative{
    height: 100%;
    position: relative;
}
.left-list-window{
    overflow: hidden;/*用于隐藏掉滚动条*/
    background-color: #00a0e9;
    height: 800px;
    padding: 0;
}
.left-list{
    width: 107%;/*使自己右边溢出外盒子，用以隐藏掉滚动条*/
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #00a0e9;
    height: 100%;
    padding: 0;
    color: #f3f3f3;
}
.left-list .friend-list li{
    background-color: transparent;
    border: none;
}
.left-list .friend-list .active{
    background-color: #9eadfa;
}
.left-list .friend-list li img{
    height: 50px;
    width: 50px;
    margin-right:10px;
}
.right-container{
    position: absolute;
    margin-left: 193px;
    background-color: #e9d0e8;
    height: 800px;
    display: none;
}
.right-container.active{
    display: block;
}
.right-top-window{
    overflow:hidden;
}
.chat-window{
    max-height: 600px;
    width: 102%;
    height: 600px;
    overflow-y: scroll;
}
.tools{
   margin: 5px;
}
.right-bottom-window{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: blanchedalmond;
}
.right-bottom-window .feelings{
    display:none;
}
.edit-window{
    height: 240px;
    width: 100%;
    border-top: solid 1px #afa9b0;
    overflow: hidden;
}
.edit-window .input-window{

    width: 102%;/*用于隐藏掉滚动条*/
    height: 200px;
    background-color: #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
}
.tools{

}
.tools span{
    margin-left: 50px;
    font-size: 20px;
}


/*消息框样式*/
.message-container{
    position: relative;
}
.message-body {
    padding: 19px 46px;
    margin: 5px 60px 20px 52px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e3e3e3;
    border-radius: 0 100px 100px 100px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    display:inline-block;
}
    /*消息框中的头像样式*/
.message-head{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}
.message-username{
    margin-left: 60px;
    color: grey;
}
/*下方tab栏*/
.tab{
    position: fixed;
    height: 20%;
    right: -1%;
    width : 30px;
}
.tab1{
    top: 0;
    background-color: rgba(0, 247, 255, 0.66);
}
.tab2{
    top: 20%;
    background-color: rgba(233, 86, 150, 0.48);
}
.tab3{
    top: 40%;
    background-color: rgba(60, 233, 46, 0.61);
}
.tab4{
    top: 60%;
    background-color: rgba(75, 233, 224, 0.57);
}
.tab5{
    top: 80%;
    background-color: rgba(233, 104, 116, 0.43);
}

/*好友查找模态框*/
.findUserContainer{
    overflow-y: scroll;
    height: 500px;
}
.findUserContainer li img{
    width: 50px;
    height: 50px;
}
.findUserContainer li button{
    margin-top: 8px;
}
.findUserContainer li span{
    margin-left: 25px;
}
.findUserForm{
    width: 50%;
    margin: 0 auto 20px;
}
/*表情包模态框*/
.feelingContainer{
    overflow-y: scroll;
    height: 500px;
}